In [49]:
import pandas as pd
import numpy as np

In [50]:

missing_values=["N/a","na",np.nan]
temp = pd.read_csv('1429_1.csv',na_values=missing_values)
data=temp[['reviews.text','reviews.rating']]
data.head()
index=data.index
print(len(index))

E:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

34660

In [51]:
print(data.isnull().sum())

reviews.text       1
reviews.rating    33
dtype: int64

In [52]:
check = data[data["reviews.text"].isnull()]
check.head()

     reviews.text  reviews.rating
3111          NaN             5.0

In [53]:
check_ = data[data["reviews.rating"].isnull()]
check_.head()

                                           reviews.text  reviews.rating
2886  The Kindle is my first e-ink reader. I own an ...             NaN
2887  I'm a first-time Kindle owner, so I have nothi...             NaN
2888  UPDATE NOVEMBER 2011:My review is now over a y...             NaN
2889  I'm a first-time Kindle owner, so I have nothi...             NaN
2890  I woke up to a nice surprise this morning: a n...             NaN

In [54]:
data=data.dropna()

In [55]:
print(data.isnull().sum())

reviews.text      0
reviews.rating    0
dtype: int64

In [56]:
print(len(data))

34626

In [57]:
import re
import nltk
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rajsh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rajsh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [58]:

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
ps = PorterStemmer()
lemmatizer=WordNetLemmatizer()
corpus = []
for rev in data['reviews.text']:
    review = re.sub('[^a-zA-Z]', ' ',rev)
    review = review.lower()
    review = review.split()
    review = [lemmatizer.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [59]:
corpus[2]

'inexpensive tablet use learn step nabi thrilled learn skype already'

In [60]:

from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer(max_features=2500)
X = cv.fit_transform(corpus).toarray()

In [61]:
cat = [0 ,1 ,2]
def cat_y(y):
    if y<=2.0:
        return cat[0]
    elif y>=4.0:
        return cat[2]
    else:
        return cat[1]
    
data['reviews.rating'] = data['reviews.rating'].apply(cat_y)
data.head(171)

                                          reviews.text  reviews.rating
0    This product so far has not disappointed. My c...               2
1    great for beginner or experienced person. Boug...               2
2    Inexpensive tablet for him to use and learn on...               2
3    I've had my Fire HD 8 two weeks now and I love...               2
4    I bought this for my grand daughter when she c...               2
..                                                 ...             ...
166  I wanted a low cost but quality tablet and thi...               2
167  This a great tablet for everyone. Plenty of me...               2
168  I own two Nook tablets, another Kindle and a S...               2
169  I bought this tablet for my 4 year old daughte...               0
170  This is a step up from what my son was using. ...               2

[171 rows x 2 columns]

In [63]:

y=data['reviews.rating']

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [65]:

from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(X_train, y_train)

y_pred=spam_detect_model.predict(X_test)

In [66]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [67]:
cm

array([[   2,    1,  152],
       [   0,    2,  286],
       [   0,    1, 6482]], dtype=int64)

In [68]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.9364712676869766

In [69]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.01      0.03       155
           1       0.50      0.01      0.01       288
           2       0.94      1.00      0.97      6483

    accuracy                           0.94      6926
   macro avg       0.81      0.34      0.34      6926
weighted avg       0.92      0.94      0.91      6926